.inf{
    width: 100%;
    height: 100%;  
    display: flex;
    justify-content: space-around;  
}

.contenidoInfo{
    padding: 2rem;
    margin-left: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'roboto', sans-serif;
}


#textoInf{
    font-size: 1.1em;
    width: 60%;
}


#imgInf img{
    width: 65%;
    height: 65%;
}
