.ubicanos h1{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 3em;
}


.mapa{
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.mapa iframe{
    width: 100%;
}


.direccion h3{
    color: var(--negro2);
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    font-weight: 200;
    text-align: center;
    
}





