.menuu{
    width: 26%;   
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    position: fixed;
    background-color: #0b3860d2;
    font-size:xx-large;
    align-content: center;
}