
.informacion{
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenido{
    width: 70%;
    height: 90vh;
    margin-left: 17%;
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    flex-direction: column;
}


.inferior{
    display: flex;
    flex-direction: row;
}


.foto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foto img{
    border-radius: 5%;
    margin-bottom: 5%;
    width: 61%;
    height: 10em;
}


.formulario{
    width: 75%;
    height: 140%;
}


.iconos{
    width: 70%;
    height: 7%;
    background-color: #337AB7;
    margin-top: 7%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}


.iconos i{
    font-size: 1.5em;
    margin: 2% 8% 2% 8%;
    color: white;
}


.contra{
    width: 70%;
    height: 14%;
    border-radius: 2%;
    background-color: var(--negro);
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contra{
    width: 70%;
    height: 14%;
    border-radius: 2%;
    background-color: var(--negro);
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.contra a{
    font-size: 1.5rem;
    padding-bottom: 10%;
    padding-top: 10%;
}


.contenido .Bienvenido{
    width: 57%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}


/********/
