.bodyR{
    background: url(./fondo.jpg)no-repeat;
    background-size: cover;
}
.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;  
}

.logo img{
    width: 70%;   
    padding-bottom: 1rem;
}

.textos .mobile{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-registro{
    width: 68%;
    height: 100%;
    margin-left: 30%;
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}


label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.input2{
    width: 100%;
    padding: 1%;
    border: none;
    border-bottom: var(--gris) solid .2em;  
    margin-bottom: 0.5rem;
}

.terminos2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
}

.termino2{
    width: 6%;
   
}


.container-registro .tituloR{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 57%;
    height: 10%;
    font-size: 3rem;
    margin-top: -1rem;
    font-weight: lighter;
}

.form{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

.izquierda{
    width: 50%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

.derecha .generos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

 .boton2{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 1%;
    width: 23%;
    padding: 0.9%;
    border-radius: 2px;
   
    background-color: #272727;
    border: none;
    font-family: 'Marcellus', serif;
    cursor: pointer;
}

.termino2:active{
    background-color: #6698c4;
}

.boton2 a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}


.terminos{
  display: none;
}


.modal{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 100px;
    display: none;
}

.contenidoModal{
    background-color: #FFFFFF;
    width: 30%;
    margin: auto;
    position: relative;
    animation-name: animarmodal;
    animation-duration: 0.5s;
    padding-bottom: 1rem;
    
}

.contenidoModal h2{
    background: rgb(47,100,148);
    background: linear-gradient(90deg, rgba(47,100,148,1) 0%, rgba(11,56,96,1) 100%);
    text-align: center;
    color: #FFFFFF;
    padding: 0.7rem;
}

.contenidoModal button{
    width: 32%;
    display: flex;
    justify-content: center;
    margin-left: 8rem;
}

.p{
    padding-left: 1rem;
    padding-right: 1rem;
}




@media screen and (min-width: 200px) and (max-width: 600px){
.bodyR{
   
    background: url(./fondo.jpg)no-repeat;
    background-size: cover;
    
   
}

.container-registro {
    width: 91%;
    height: 185vh;
    margin: auto;
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    margin-top: 10rem;
}
   
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

 
*{
    margin: 0%;
}



.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;  
}

.logo img{
    width: 40%;   
    padding-bottom: 1rem;
}

.textos .desktop {
    display: none;
}

.textos .mobile{
    font-size: 1.5rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}



label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.input2{
    width: 100%;
    padding: 1.5%;
    border: none;
    border-bottom: var(--gris) solid .2em;  
    margin-bottom: 0.5rem;
}

.terminos2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    
   
}

.termino{
    width: 6%;
   
}

.container-registro .tituloR{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 2rem;
    width: 57%;
    height: 10%;
    font-size: 3rem;
    margin-top: -1rem;
    font-weight: lighter;
}

.form{
    display:block;
    width: 100%;
    height: 100%;
   
   
}


.derecha{
    width: 100%;
    margin-top: -21rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5% 0 5%;
}
.izquierda {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.derecha .generos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.boton2{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 43%;
    padding: 0.9%;
    border-radius: 2px;
    font-size: 1em;
    color: white;
    background-color: #272727;
    border: none;
    font-family: 'Marcellus', serif;
    cursor: pointer;
}

.boton a{
    text-decoration: none;
    color: white;
}


}